<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-cookies.js"></script>
    <script src="js/angularApp.js"></script>
    <script src="js/controllers/upload.js"></script>
    <script src="js/directives/filedir.js"></script>
</head>
<body ng-app="Arena">
    <img src="https://sdfdf.s3.amazonaws.com/80733cda3e4d2e3dcb26816b024e4949"/>
    <div ng-view></div>
</body>
</html>
